.arr-div {
  position: relative;
  width: 95%;
  text-align: center;
}

.arr-div p {
  margin: 5px 0;
}

.arrival-img {
  opacity: 1;
  display: block;
  height: 400px;
  object-fit: contain;
  transition: 0.5s ease;
  backface-visibility: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 20px;
}

.middle {
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  z-index: 40;
  margin-top: 310px;
  width: 100%;
  text-align: center;
}

.arr-div:hover .arrival-img {
  opacity: 0.5;
  cursor: pointer;
  border: 1px solid black;
}

.arr-div:hover .middle {
  opacity: 1;
}

.cart-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content:center;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 30px;
  height:65px;
  background-color: black;
  color: white;
  width: 100%;
  transition: opacity 0.5s ease;
}
